{% extends 'base.html' %}

{% block content %}
    <div id="about">
        <div class="container ">
        <div class="section-title text-center center wow bounce ">
            <h2>Hakkımızda</h2>
            <hr class="about">
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 text-center "> <img src="../static/img/biz.jpg" alt=""> </div>
            <div class="col-xs-12 col-md-6">
            <div class="about-text ">
            <p>
                Beşduyu medya takip şirketi olarak televizyon,sosyal medya,gazete,radyo gibi çeşitli medya organlarındaki  haberleri takip ve kayıt etmekteyiz.Müşterilerimizin istekleri doğrultusunda çeşitli medya organlarında yer alan kendileri ile ilgili bu haberleri onlara yine kendi istekleri doğrultusunda istedikleri sıklıkta rapor ediyoruz.
            </p>
            </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}