{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ object.header }}</h1>
    <p> {{ object.source }}</p>
    <p> {{ object.date_published }}</p>
    <p> {{ object.date_created }}</p>
    <p> {{ object.text }}</p>
    {% if is_staff %}
    <a class="btn btn-primary" href="{% url 'main:publication_update' object.id %}">Yayın Güncelle</a>
    <a class="btn btn-danger" href="{% url 'main:publication_delete' object.id %}">Yayın Sil</a>
    {% endif %}
</div>


{% endblock %}
